<nav>
     <a href="{{ site.baseurl }}/">Home</a>
     <a href="{{ site.baseurl }}/about">About</a>
     <a href="{{ site.baseurl }}/happening">Happening</a>
     <a href="{{ site.baseurl }}/thinking">Thinking</a>
     <a href="{{ site.baseurl }}/doing">Doing</a>
</nav>
